* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: white;
	min-width:450px;
	height: 100%;
}

.main {
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	position: relative;
}

header {
	width: 100%;
	height: 6em;
	background-color: #178591;
	padding: 25px 10px;
}

.logo {
	float: left;
	margin-left: 5em;
}

a.tittel {
	font-size: 2em;
	font-family: "Times New Roman", Times, serif;
	color: white;
	line-height: 0.8em;
}

.big {
	font-size: 2.2em;
	font-weight: 10;
}

.headerRight {
	float: right;
	margin-right: 5em;
}

a {
	text-decoration: none;
}

a.headerLinks {
	line-height: 1.5em;
	font-size: 2em;
	display: block;
	color: white;
	font-family: "Times New Roman", Times, serif;
	overflow: hidden;
}

a.headerLinks {
	float: left;
	padding-right: 50px;
}


li.inactive {
}

a.active {

}

.firstLink {
	padding-left: 20px;
}

a.lastLink {
	padding-right: 0px;
}

.mainContent {
	width: 80%;
	height: 100%;
	margin: auto;
	text-align: center;
	background-color: white;
}

.chatInfo {
	width: 42.5%;
	height: 200px;
	float: left;
	margin: 2%;
	margin-right: 1%;
	padding: 20px;
	font-size: 1.6em;
	line-height: 1.5em;
	font-family: "tahoma";
	text-align: left;
	color: #3a3a3a;
}


/** Chat-vindu **/
.chatbot {
/*	position: relative;
*/	
	float: right;
	width: 50%;
	background-color: white;
	border-style: none;
	border-width: 5px;
	border-radius: 5px;
	margin: 2%;
	margin-left: 1%;
}

div.chatBox {
	width: 100%;
	height: 67%;
	min-height: 600px;
	overflow: auto;
	margin: auto;
	font-size: 20px;
	font-family: "tahoma";
	position: relative;
	background-color: #e0e0e0;
	border-radius: 7.5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.languageSelect {
	width: 100%;
	position: absolute;
	bottom: 20%;
	left: 0;
	text-align: center;
}

.inputKeyboard {
	float: left;
	width: auto;
	max-width: 1em;
	min-width: 1em;
}

#input {
/*	float: right;
*/	width: 100%;
	height: 50px;
	margin: auto;
	margin-top: 15px;
	font-size: 20px;
	border: none;
	border-radius: 7.5px;
/*	background-color: #ededed;*/
	background-color: #e0e0e0;
	font-family: "tahoma";
	-webkit-transition: 0.5s;
	transition: 0.5s;
	background-image: url('img/KeyBoard.png');
	background-position: 15px 0px;
	background-repeat: no-repeat;
	background-size: 50px;
	padding-left: 75px;
	padding-top: 0px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#input:focus {
	background-color: white;
	-webkit-transition: 0.5s;
	  transition: 0.5s;
}

.userInputContainer {
	float: right;
	clear: left;
	position: relative;
	max-width: 60%;
}

.replyContainer {
	float: left;
	clear: right;
	position: relative;
	max-width: 65%;
}

.userPic {
	max-width: 35px;
	position: absolute;
	top: 5px;
}

.rightPic {
	right: 5px;
	display: none;
}

.leftPic {
	left: 5px;
}

.chatBubble {
	display: inline-block;
	padding: 10px;
	border-radius: 10px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 15px;
	background-color: #3298a3;
	color: white;
	max-width: 100%;
	text-align: left;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.chatBubble > a {
	padding: 20px;
}

.centeredBubble {
	cursor: pointer;
	font-size: 1.8em;
	padding: 10px;
	color: #3a3a3a;
}

.leftBubble {
	float: left;
	margin-left: 20%;
	clear: left;
}

.rightBubble {
	float: right;
	margin-right: 20%;
}

.userInput {
	display: block;
	float: right;
	clear: left;
	clear: right;
	background-color: #3298a3;
	color: white;
	border-top-right-radius: 0px;
}

/*.sb1:before {
	content: "";
	width: 0px;
	height: 0px;
	position: absolute;
	border-left: 10px solid #00bfb6;
	border-right: 10px solid transparent;
	border-top: 10px solid #00bfb6;
	border-bottom: 10px solid transparent;
	right: -20px;
	top: 6px;
}*/

.richMessage {
	display: block;
	float: right;
	clear: left;
	clear: right;
	background-color: #31ce9a;
	color: white;
	padding: 10px;
	padding-top: 15px;
	border-radius: 0px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	line-height: 18px;
}

.lineBreakDiv {
	clear: both;
	padding-bottom: 35px;
}

.responseData {
	float: left;
	clear: right;
	background-color: #b2b2b2;
	color: black;
	border-top-left-radius: 0px;
}

.richMessageContainer {
	float: right;
	display: block;
	clear: left;
}

.richMessageStyle {
	margin-right: 10px;
	margin-bottom: 10px;
	cursor: pointer;
	background-color: #3298a3;
	border-radius: 7px;
	color: white;
	padding: 10px;
	width: 150px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.pointer {
	max-width: 40px;
	clear: both;
	text-align: center;
}

li.meetingListItem {
	clear: both;
	list-style-type: none;
}

.meetingListItem {
	cursor: pointer;
/*				width: 100%;
*/			}

.meetingListItemLast {
	border-bottom: none;
}

button { 
	display: none;
	width: 50px; 
}

.animateBubble {
/*	-webkit-animation-name: typingAnim;
	-webkit-animation-duration: 10s;	
	animation-name: typingAnim;
	animation-duration: 10s;
	animation-iteration-count: infinite;*/
	border-top-left-radius: 10px;
	font-size: 5em;
	max-height: 40px;
	min-height: 40px;
	min-width: 100px;
	text-align: center;	
	position: relative;

/*	line-height: 0.1em;
	font-family: "Times New Roman", Times, serif;*/
}

.dotContainer {
	margin: 0 auto;
	position: relative;
	text-align: center;
}

.dot {
	margin: 5px;
	display: block;	
	float: right;
	width: 13px;
	height: 13px;
	border-radius: 50px;
	background-color: black;
	position: relative;
	top: 0px;
}

.dot:nth-child(1) {
	animation: bounce 1s linear infinite;
	animation-delay: 0.6s;
}
.dot:nth-child(2) {
	animation: bounce 1s linear infinite;
	animation-delay: 0.3s;
}
.dot:nth-child(3) {
	animation: bounce 1s linear infinite;
}

@keyframes bounce {
	25% { top: -10px; }
	75% { top: 0px; }
	100% { top: 0px; }
}

.userInputContainer > .lineBreakDiv {
	display: none;
}

@media screen and (max-width: 1300px) {
	.logo {
		margin-left: 1.7em;
	}
	.headerRight {
		margin-right: 2em;
	}
	.chatInfo {
		font-size: 1.5em;
	}
	.mainContent {
		width: 95%;
	}
}

@media screen and (max-width: 1000px) {
	header {
		height: 8em;
		text-align: center
	}
	.logo {
		float: none;
		display: inline-block;
		clear: both;
	}
	a.tittel {
		display: inline-block;
	}
	.headerRight {
		float: none;
		clear: both;
		display: inline-block;
	}
	.chatInfo {
		font-size: 1.4em;
		line-height: 1.2em;
	}
	.centeredBubble {
		font-size: 1.2em;
	}
	.mainContent {
		width: 98%;
	}
	.languageSelect > span {
		font-size: .8em;
	}
}

@media screen and (max-width: 605px) {
	header {
		height: 5em;
	}
	.logo {
		display: none;
	}
	.headerRight {
		margin-left: 0;
		margin-right: 0;
		font-size: .85em;
	}
	.firstLink {
		padding-left: 0;
	}
	a.headerLinks {
		font-size: 1.7em;
		line-height: 1em;
	}
	.chatInfo {
		display: none;
	}
	.mainContent {
		width: 100%;
		padding: 0px;
		height: 100%;
	}
	.chatBot {
		padding: 0;
		width: 100%;
		padding: 0px;
		margin: 0;	
		border-radius: 0px;
	}
	div.chatBox {
		width: 100%;
		border-radius: 0px;
	}
	#input {
		border-radius: 0px;
	}
	.languageSelect > span {
		font-size: 1.1em;
	}
}